.list{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 4%;
    overflow-y:scroll;
    height: 90vh;
    flex-direction: column;
    
}
::-webkit-scrollbar{
    width: 10px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: lightgray;
        visibility: visible;
        size: 10px;
    }
    ::-webkit-scrollbar-track{
        // background: linear-gradient(#642bff,#ff22e6);
        background-color: #fcf5f3;
        visibility: hidden;
    }